/*styles for windows and laptop views*/
body{
    background-color: paleturquoise;
}
*{
    font-family: sans-serif;
}
#container{
    display: flex;

}
aside{
    display: block;
    float: left;
    width: 30%;
    height: auto;
    background-color: lightgray;
    text-align: center;
    margin: 3%;
    
}
.profile>img{
    width: 35%;
    height: auto;
    border-radius: 3%;
    box-shadow: 2px 2px 2px 2px black;
    margin-top: 15%;
}

h2{
    font-weight: bold;
}
.education>table,th,td{
    border: 1px solid black;
    padding: 10px;
}
/* .child2{
    margin-left: 350px;
} */


/*tab view styles*/
@media  screen and (min-width:481px) and (max-width:768px){

    *{
        font-size: 15px;
    }
    
    #container{
        display: flex;
        flex-direction: column;
    }
    aside{
        display: flex;
        width: 94%;
        margin: 3%;
        height: 60%;
        justify-content: space-around;
    }
    .profile{
        width:50%
    }
    .profile>img{
        width: 40%;
        height: 50%;
        margin-top: 15%;
    }
    /*  */
    .details{
        margin-top: 8%;
    }
}

/*styles for mobile views*/
@media screen and (min-width:320px) and (max-width:480px){
    aside{
        display: block;
        width: 94%;;
        margin: 3%;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
}